* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo Black';
    height: 100vh;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4DDDB;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    margin-bottom: 30px;
    font-size: 3rem;
}

h1 span {
    color: #BA1F00;
}

#countdown {
    font-family: 'Orbitron', cursive;
    font-size: 100px;
    letter-spacing: 5px;
    color: #BA1F00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-segment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;

}

.time-segment span {
    font-size: 100px;
    line-height: 1;
    text-align: center;
    display: inline-block;
}

#countdown span#days,
#countdown span#hours,
#countdown span#minutes,
#countdown span#seconds {
    font-size: 100px;
    padding: 0 10px;
}

.time-segment span:not(#seconds) {
    margin-right: 10px; 
}


button {
    color: #BA1F00;
    padding: 7px;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 60px;
    border-bottom: 1px solid #050505;
}

button:hover {
    border-bottom: 1px solid #BA1F00;
    font-style: italic;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #0c0c0c;
    border-top: 1px solid #BA1F00;
    justify-content: space-between;
}
footer img{
    width: 40px;
    height: 35px;
}
footer div img {
    width: 40px;
    height: 40px;
}
footer a {
    transition: all 0.3s;
}

footer a:hover {
    filter: brightness(0) invert(1);
}


@media (min-width:550px) and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    #countdown {
        font-size: 60px;
    }

    .time-segment {
        width: 150px;  
    }

    .time-segment span {
        font-size: 60px; 
    }
    #countdown span#days,
    #countdown span#hours,
    #countdown span#minutes,
    #countdown span#seconds {
        font-size: 60px;
        padding: 0 5px;
    }
    .time-segment span:not(#seconds) {
        margin-right: 5px; 
    }

}
@media (max-width: 550px) {
    h1 {
        font-size: 1.25rem;
    }

    #countdown {
        font-size: 30px;
    }

    .time-segment {
        width: 80px;  
    }

    .time-segment span {
        font-size: 30px; 
    }
    #countdown span#days,
    #countdown span#hours,
    #countdown span#minutes,
    #countdown span#seconds {
        font-size: 30px;
        padding: 0 3px;
    }
    .time-segment span:not(#seconds) {
        margin-right: 3px; 
    }
    button {
        color: #BA1F00;
        padding: 5px;
        font-size: 1rem;
        margin-top: 40px;
    }
    footer {
        padding:8px;
    }
    
    footer img {
        width: 20px;
        height: 20px;
    }
    footer div img {
        width: 20px;
        height: 20px;
    }
    
}