* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #E4DDDB;
    font-family: 'Fustat', sans-serif;
    background-color: #0D0C0C;
    padding-top: 30px; 
    overflow-x: hidden;
    background-attachment: fixed;
    background-image: url(../resources/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}


/* ------------- NAVBAR ------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg,#202020, #0D0C0C);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid #BA1F00;
}

.logo img {
    height: 20px;
    margin-right: 10px;
}

.logo a {
    transition: all 0.2s;
}

.logo a:hover {
    filter: brightness(0) invert(1);
}

/* Menú hamburguesa en mobile */
.menu-toggle {
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #BA1F00;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s;
    white-space: nowrap; 
}
.nav-links .active-link{
    color: #E4DDDB;
}
.nav-links .active-link:hover{
    color: #BA1F00;
}
.nav-links a:hover {
    color: #E4DDDB;
}

/*-----------INTRO SECTION-----------*/
.intro-section {
    text-align: center;
    padding: 70px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.intro-header {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 30px;
    
}

.intro-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Archivo Black';
    margin-bottom: 20px;
    color: #BA1F00;
    
}

.intro-description {
    font-size: 1rem;
    text-align: justify;
    color: #E4DDDB;
    font-weight: bolder;
}


.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 80px 10%;
}

.service {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    border-top: 1px solid #BA1F00;
    padding: 50px 0;
}

.service:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.service-img img {
    width: 200px;
    height: auto;
    transition: transform 0.5s ease-out;
}

.service-text {
    flex: 1;
}

.service-text h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #BA1F00;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #BA1F00;
    display: inline-block;
}


.service-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #E4DDDB;
    text-align: justify;
}
.service-text p b{
    color: #BA1F00;
    font-style: italic;
}








/* ------------- FOOTER ------------- */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    background: linear-gradient(0deg,#0D0C0C, #202020);
    border-top: 1px solid #BA1F00;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 50px;
    height: 45px;
}
footer a {
    color: #BA1F00;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    
    
}
footer div img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
footer a {
    transition: all 0.3s;
}

footer a:hover {
    filter: brightness(0) invert(1);
}
.contact{
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact img{
    position: relative;
    top: 7px;
    margin-right: 10px;
}



@media (max-width: 768px) {
    nav{
        background: #0D0C0C;
        border-bottom: 1px solid #BA1F00;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        color: #BA1F00;
    }

    .nav-links {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background-color: #0D0C0C;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        opacity: 0;
        pointer-events: none;
        border-bottom: 2px solid #BA1F00;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .service{
        flex-direction: column;
        text-align: center;
    }
    .service:nth-child(even) {
        flex-direction: column;
        text-align: center;
    }

    footer div{
        display: none;
    }
    footer a{
        font-size: 0.875rem;

    }
    .contact a{
        font-size: 0;
        
    }
    
}